<div class="sc-container">
  <div class="progress-bar progress-bar--indeterminate" tp-show="progress">
  </div>
  <ons-list class="scrollable-list">
    <ons-list-header>Leagues</ons-list-header>
    <ons-list-item modifier="chevron" tappable tp-for="league in leagues" tp-on:click="selectLeague(league.id)">
      {{ league.name }}
    </ons-list-item>
  </ons-list>

  <div class="tabbar footer-tabbar">
    <label class="tabbar__item">
      <input type="radio" name="tabbar-a" checked="checked">
      <button class="tabbar__button">
        <div class="tabbar__icon">
            <ons-icon icon="fa-home" class="ons-icon fa-home fa">
            </ons-icon>
        </div>
        <div class="tabbar__label">Home</div>
      </button>
    </label>
  
    <label class="tabbar__item">
      <input type="radio" name="tabbar-a">
      <button class="tabbar__button">
        <div class="tabbar__icon">
            <ons-icon icon="fa-film" class="ons-icon fa-film fa">
            </ons-icon>
        </div>
        <div class="tabbar__label">My Teams</div>
      </button>
    </label>
  </div>
</div>