<div class="sc-container">
  <div class="progress-bar progress-bar--indeterminate" tp-show="progress">
  </div>
  
  <div style="text-align: center" class="scrollable-teams">
    <ons-list tp-for="division in teams">
      <ons-list-header>{{ division.divisionName }}</ons-list-header>
      <ons-list-item modifier="chevron" tappable 
        tp-for="team in division.divisionTeams"
        tp-on:click="selectTeam(team.id)">
        {{ team.name }}
      </ons-list-item>
    </ons-list>
  </div>

</div>