<div class="sc-container">
  <ons-progress-bar indeterminate tp-show="progress"></ons-progress-bar>
  <div style="text-align: center" class="scrollable-teams">
    <ons-list>
      <ons-list-header>{{ team.name }}</ons-list-header>
      <ons-list-item tp-show="!progress">
        <div class="center">
          <span class="list-item__title">{{ team.coach }}</span><span class="list-item__subtitle">Coach</span>
        </div>
        <div class="right">
          <div style="margin: 8px">
            <span class="left list-item__subtitle">Follow</span>
          </div>
          <div>
            <ons-switch ng-model="team.following"></ons-switch>
          </div>
          
        </div>
      </ons-list-item>
      <ons-list-item tp-for="game in games">
        
        <ons-row tp-on:click="selectGame(game.gameId)">
            <ons-col width="23%">
                <p>{{ game.time | firstsub 10 }}</p>
                <p>{{ game.time | lastsub 8 }}</p>
            </ons-col>
            <ons-col>
                <h3>{{ game.homeAway }}  {{ game.opponent }}</h3>
                <p>{{ game.location }}</p>
            </ons-col>
            <ons-col vertical-align="center" width="20%">
                {{ game.scoreDisplay }}
            </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>
  </div>
</div>